<template>
  <v-container fluid>
    <v-flex xs12>
      <v-card>
      <v-card-title>
            <div class="title">
              <v-text-field append-icon="search" label="Card Date" placeholder="Card Date" v-model="quickSearch"></v-text-field>
            </div>
            <div class="title">&nbsp{{this.items.length}} Cards</div>
            <v-spacer></v-spacer>
            <v-btn class="deep-orange darken-3" fab small dark @click.native="add">
              <v-icon>add</v-icon>
            </v-btn>
          </v-card-title>
        <Table v-if="loading===false" :headers="headers" :items="items"  :pagination="pagination" @edit="false" @remove="remove"></Table>
      </v-card>
    </v-flex>
    <confirm-dialog :dialog="dialog" :dialogTitle="dialogTitle" :dialogText="dialogText" @onConfirm="onConfirm" @onCancel="onCancel" ></confirm-dialog>
  </v-container>
</template>
<script>
/* globals Store */
import Table from "@/components/Table.vue";
import SearchPanel from "@/components/SearchPanel.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import api from "@/utils/backend-api";
import { mapState } from "vuex";
import { debounce } from "lodash";

export default {
  components: {
    Table,
    SearchPanel,
    ConfirmDialog
  },
  data () {
    return {
      dialog: false,
      dialogTitle: "Order Delete Dialog",
      dialogText: "Do you want to delete this order?",
      rightDrawer: false,
      right: true,
      search: '',
      headers: [
        { text: 'User Id', value: 'id' },
        { text: 'card #', value: 'card' },
        { text: 'Date', value: 'date' },
        { text: 'Name', value: 'name' }
      ],
      searchVm: {
        contains: {
          reference: '',
          customer: ''
        },
        between: {
          amount: { former: 0, latter: 0 }
        }
      },
      orderId: "",
      query: "",
      snackbarStatus: false,
      timeout: 2000,
      color: "",
      loading: true,
      items: [],
      pagination: {},
      quickSearchFilter: "",
    }
  },
  methods: {
    getCards: async function(id){
      api.getData("valid-thru?date=" + id).then(
        res => {
          this.items = res.data.cards;
          this.pagination = {page: 1, pages: Math.ceil(this.items.length / 10), rowsPerPage: 10, totalItems: this.items.length}
          this.loading = false;
        },
        err => {
          console.log(err);
        }
      );
    },
    add () {
      this.$router.push('NewOrder')
    },
    remove (item) {
      this.orderId = item.id;
      this.dialog = true;
    },
    onConfirm () {
      Store.dispatch(
        "orders/deleteOrder", this.orderId).then(() => {
        Store.dispatch("orders/searchOrders", this.query, this.pagination);
        Store.dispatch("orders/closeSnackBar", 2000);
      });
      this.dialog = false;
    },
    onCancel () {
      this.orderId = "";
      this.dialog = false;
    },
    searchOrders () {
      this.rightDrawer = !this.rightDrawer;
      this.appUtil.buildSearchFilters(this.searchVm);
      this.query = this.appUtil.buildJsonServerQuery(this.searchVm);
      this.quickSearch = "";
      Store.dispatch("orders/searchOrders", this.query, this.pagination);
    },
    reloadData () {
      this.query = "";
      Store.dispatch("orders/getAllOrders");
    },
    cancelSearch () {
      this.rightDrawer = false;
    },
    quickSearchOrders: debounce(function () {
      // console.log(this.quickSearch)
      this.quickSearchFilter && Store.dispatch("orders/quickSearch",
       { headers: this.headers,
         qsFilter: this.quickSearchFilter.toLowerCase(),
         pagination: this.pagination });
    }, 300),
  },
  computed: {
    ...mapState("orders", {
      // items: "items",
      // pagination: "pagination",
      // loading: "loading",
      snackbar: "snackbar",
      notice: "notice"
    }),
    quickSearch: {
      get: function () {
        return this.quickSearchFilter;
      },
      set: function ( val ) {
        this.quickSearchFilter = val;
        this.getCards(val);
        // this.quickSearchFilter && this.quickSearchOrders();
      }
    }
  },
  created () {
    this.quickSearch = "2021/10"
    this.getCards("2021/10");
  },
  mounted () {
    this.$nextTick(() => {
      console.log(this.headers);
    })
  }
}
</script>
