<template>
  <v-container fluid>
    <v-flex xs12>
      <v-card class="grey lighten-4 elevation-0">
        <v-card-title class="title">
          {{title}}
          <v-spacer></v-spacer>
          <v-btn fab small class="grey" @click.native="cancel()">
            <v-icon>cancel</v-icon>
          </v-btn>
          &nbsp;
          <v-btn fab small class="purple" @click.native="save()">
            <v-icon>save</v-icon>
          </v-btn>
          &nbsp;
        </v-card-title>
        <v-card-text>
          <v-container fluid grid-list-md >
            <v-layout row wrap >
              <v-flex md4 xs12>
                <v-text-field name="clientId" label="Client Id" value="Input text" v-model="card.id"
                  class="input-group--focused" required></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap >
              <v-flex md4 xs12>
                <v-text-field name="date" label="Valid Date" hint="YYYY/MM" value="Input text" v-model="card.date"
                  class="input-group--focused" required></v-text-field>
              </v-flex>
              <v-flex md4 xs12>
                <v-text-field name="cardNumber" label="Card Number" value="Input text" v-model="card.card"
                  class="input-group--focused" required></v-text-field>
              </v-flex>
              <v-flex md4 xs12>
                <v-text-field name="name" label="Name" hint="Card owner name" v-model="card.name" class="input-group--focused"
                  required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
      <confirm-dialog :dialog="dialog" :dialogTitle="dialogTitle" :dialogText="dialogText" @onConfirm="onConfirm" @onCancel="onCancel" ></confirm-dialog>
  </v-container>
</template>
<script>
/* global Store */
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import {Product} from '../models'
import api from "@/utils/backend-api";
import { mapState, dispatch } from 'vuex'
  export default {
    components: {
      ConfirmDialog
    },
    data () {
      return {
        card: {},
        categoryId: null,
        modalTitle: 'Add Product',
        modalText: 'Select the category and product from the list',
        addProductModal: false,
        dialog: false,
        dialogTitle: "Product Delete Dialog",
        dialogText: "Do you want to delete this product?",
        orderDateMenu: false,
        shippedDateMenu: false,
        errors: [],
        title: '',
        productId: null,
        snackbarStatus: false,
        timeout: 3000,
        color: '',
        selectedProduct: null
      }
    },
    computed: {
      ...mapState('orders',
        {
          // order: 'order',
          customers: 'customers',
          categories: 'categories',
          products: 'products',
          loading: 'loading',
          mode: 'mode',
          snackbar: 'snackbar',
          notice: 'notice'
        }),
    },
    methods: {
      save () {
        console.log(this.card)
        api.postData("card", this.card)
        .then(res => {
          const order = res.data;
        })
        .catch(err => {
          console.log(err);
        });
      },
      selectCustomer (item) {
        this.order.customerId = item.value
      },
      getOrderById () {
        Store.dispatch('orders/getOrderById', this.$route.params.id)
      },
      getCustomers () {
        Store.dispatch('orders/getCustomers')
      },
      cancel () {
        this.$router.push({ name: 'Orders' })
      },
      remove (item) {
        this.selectedProduct = item;
        this.dialog = true;
      },
      onConfirm () {
        Store.dispatch(
          "orders/deleteProduct", Object.assign({}, this.selectedProduct)
        );
        this.selectedProduct = null;
        this.dialog = false;
      },
      onCancel () {
        this.selectedProduct = null;
        this.dialog = false;
      },
      addProduct () {
        this.addProductModal = true
      },
      saveProduct () {
        Store.dispatch('orders/addProductToOrder', this.productId)
        this.productId = null;
        this.addProductModal = false
      },
      cancelAddProduct () {
        this.addProductModal = false
      },
      getCategories () {
        Store.dispatch('orders/getCategories')
      },
      getProductsByCategory (){
        this.categoryId && Store.dispatch('orders/getProductsByCategory', this.categoryId)
      },
      closeSnackbar () {
        Store.commit("orders/setSnackbar", { snackbar: false });
        Store.commit("orders/setNotice", { notice: "" });
      },
    },
    created () {
    },
    mounted () {
      if (this.$route.params.id) {
        this.title = 'Edit Order'
      } else this.title = 'New Card'
    }
  }
</script>
