<template>
  <v-app>
    <vue-progress-bar>
    </vue-progress-bar>
    <template>
      <v-toolbar app>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-content>
        <v-container fluid >
          <!-- <v-layout>
            <v-flex row=""> -->
              <router-view></router-view>
            <!-- </v-flex>
          </v-layout> -->
        </v-container>
      </v-content>
      <!-- <canvas id="canvas"></canvas> -->
      <v-footer :inset="true" style="justify-content:center; text-align: center" app>
      </v-footer>
    </template>
  </v-app>

</template>
<script>
  import { mapState } from "vuex";
  export default {
    data () {
      return {
        dialog: false,
        mini: false,
        dialogText: "",
        dialogTitle: "",
        isRootComponent: true,
        // clipped: false,
        drawer: window.innerWidth > 960,
        fixed: false,
        items: [
          {
            icon: "dashboard",
            title: "Dashboard",
            vertical: "Dashboard",
            link: "dashboard"
          },
          {
            icon: "shopping_cart",
            title: "Orders",
            vertical: "Order",
            link: "orders"
          },
          {
            icon: "perm_identity",
            title: "Customers",
            vertical: "Customer",
            link: "customers"
          },
          {
            icon: "bubble_chart",
            title: "Products",
            vertical: "Product",
            link: "products"
          },
          {
            icon: "thumbs_up_down",
            title: "About",
            vertical: "About",
            link: "about"
          }
        ],
        userMenus: [
          {
            icon: "bubble_chart",
            title: "Logout",
            link: "/logout"
          },
          {
            icon: "bubble_chart",
            title: "Change Password",
            link: "/changepassword"
          }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        menuItem: "Orders"
      };
    },
    created () {
      //  [App.vue specific] When App.vue is first loaded start the progress bar
      this.$Progress.start();
      //  hook the progress bar to start before we move router-view
      this.$router.beforeEach((to, from, next) => {
        //  does the page we want to go to have a meta.progress object
        if (to.meta.progress !== undefined) {
          let meta = to.meta.progress;
          // parse meta tags
          this.$Progress.parseMeta(meta);

        }
        //  start the progress bar
        this.$Progress.start();
        //  continue to next page
        next();
      });
      //  hook the progress bar to finish after we've finished moving router-view
      this.$router.afterEach((to, from) => {
        if (to.name !== "ErrorPage") {
          this.menuItem = to.name;
        }
        //  finish the progress bar
        this.$Progress.finish();
      });
    },
    computed: {
      ...mapState("user", {
        user: "user"
      }),
      activeMenuItem() {
        return this.menuItem;
      }
    },
    methods: {
      clickMenu(item) {
        this.menuItem = item.title;
        this.$router.push({
          name: item.title
        });
      },
    },
    mounted () {
      this.$Progress.finish();
    }
  };
</script>
<style lang="stylus">
  @import './stylus/main';
</style>
